/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  background-color: #000000;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.text {
	background: #FFFFFF;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
